:root {
  --font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-family);
}

.hide {
  display: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

label {
  font-size: 1.5rem;
  display: none;
}

#toogle {
  display: none;
}

#home {
  min-height: fit-content;
  width: 100vw;
  padding: 2rem 5rem;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ___________________________________________________  NAVBAR  ___________________________________________________ */

.navbar {
  min-height: 7vh;
  width: 100%;
}

.nav-logo {
  flex-basis: 10.3%;
}

.logo-img {
  width: 90%;
}

.nav {
  flex-basis: 62%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item {
  width: 100%;
}

.navlinks {
  flex-basis: 40%;
}

.navlink {
  font-size: 1rem;
  font-weight: 500;
  opacity: 0.5;
  transition: 0.2s linear;
}

.navlink:hover {
  opacity: 1;
  transform: translateY(-3px);
}

.home-navlink {
  opacity: 1;
}
.nav-btn {
  flex-basis: 30%;
}

.login {
  min-height: 2.2rem;
  width: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  border-radius: 18px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.login:hover {
  border: none;
  background-color: #0052cc;
  color: #fff;
}

.get-started {
  min-height: 2.2rem;
  width: 7.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  background-color: #0052cc;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.get-started:hover {
  color: #000;
  background-color: transparent;
  border: 1px solid #000;
}
/* ___________________________________________________  HOME  ___________________________________________________ */

.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.faqs {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 2.5rem;
}

.faq-heading,
.ques-heading {
  font-weight: 400;
  font-size: 1.8rem;
  letter-spacing: 1px;
}

.faq {
  width: 60%;
  /* max-width: ; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq-item {
  border: 1px solid #000;
  padding: 0 1.5rem;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
}

.faq-link {
  font-size: 1.1rem;
  font-weight: 500;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.faq-link i {
  font-size: 0.8rem;
  padding: 0.5rem;
}

.faq-link .fa-minus {
  display: none;
}

.answer {
  max-height: 0;
  overflow: hidden;
  position: relative;
  transition: max-height 650ms linear;
}

.answer p,
.ques-text p {
  font-size: 0.9rem;
  padding-bottom: 1rem;
  opacity: 0.6;
  cursor: default;
}

.faq-item:target .answer {
  max-height: fit-content;
}

.faq-item:target .faq-link {
  color: #0052cc;
}

.faq-item:target .faq-link .fa-plus {
  display: none;
}

.faq-item:target .faq-link .fa-minus {
  display: block;
}

.ques {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

.ques-text {
  width: 35%;
  text-align: center;
}

/* __________________________________________________________________  MEDIA QUERIES  __________________________________________________________________ */

@media only screen and (max-width: 1024px) {
  /* _________________________________ Navbar _________________________________ */

  .nav-logo {
    flex-basis: 17%;
  }

  .nav {
    flex-basis: 70%;
  }
  .navlinks {
    flex-basis: 50%;
  }
  .nav-btn {
    flex-basis: 37%;
  }

  /* _________________________________ faq _________________________________ */

  .faq {
    width: 95%;
  }

  .ques-text {
    width: 55%;
  }
}

/* ipad */
@media only screen and (max-width: 800px) {
  /* _________________________________ Navbar _________________________________ */

  .navbar {
    padding: 2rem 0;
  }
  .nav {
    width: 100%;
  }

  .nav-logo {
    flex-basis: 25%;
    width: 100%;
  }

  .navbar,
  .nav-item,
  .navlinks,
  .nav-btn {
    flex-direction: column;
    row-gap: 2rem;
  }

  label {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .nav {
    display: none;
  }
  #toogle:checked + .nav {
    display: flex;
  }

  .ques-text {
    width: 75%;
  }

  /* _________________________________ faq _________________________________ */

  .faq {
    width: 100%;
  }
}

/* iphonex */
@media only screen and (max-width: 500px) {
  /* _________________________________ home _________________________________ */

  #home {
    padding: 2rem;
  }

  label {
    width: 50%;
  }

  /* _________________________________ faq _________________________________ */

  .faq-heading,
  .ques-heading {
    font-size: 1.2rem;
  }

  .faq-link {
    font-size: 1rem;
  }

  .answer {
    font-size: 0.8rem;
  }

  .ques-text {
    width: 100%;
  }
}
